.header{
    position: relative;
    // background-color: transparent !important;
    background-image: radial-gradient(at top right, #A2FFA045 0%, #1570EF00 60%) !important;
    width: 100%;
    height: 100vh;
    background-color: black;
    padding: 25px 70px;
    &__overlay{
            /* background-color: transparent; */
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: radial-gradient(at center center, #15EBEF9C 0%, #0C0C0D00 75%);
    opacity: 0.2;
    
    // z-index: ;
    
    }
    &__text{
        // center using position absolute
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1{
            color: white;
            font-size: 55px;
            font-weight: 700;
            color: #FFFFFF99;
            text-align: center;
            line-height: .8;
            // width: 65%;
            margin-bottom: 16px;
            
        }
        p{
            text-align: center;
            color: #FFFFFF99;

        }
    
    }
    &__navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        ul{
            display: flex;
            gap: 3rem;
            list-style: none;
            
        }
        a{
            text-decoration: none;
        }
    }
    &__bank{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: .2;
        // transform: translate(-50%, -50%);
        // width: 0%;
        // height: 100%;
        
        object-fit: cover;
    }
}